doctype html
html
  head
    link(rel='stylesheet' href='css/bootstrap.min.css' type='text/css')
    link(rel='stylesheet' href='css/main.css' type='text/css')
    title Honey Dew
  
  body
    h1 Honey Dew
    
    form 
      input(type='text' id='newToDo')
      button(id='addNewToDo') Add to List
      
    .tasks
      h1 Tasks
      
    script(type='text/javascript' src='vendor/jquery.js')
    script(type='text/javascript' src='vendor/lodash.min.js')
    script(type='text/javascript' src='vendor/firebase.js')  
    script(type='text/javascript' src='js/main.js')
