doctype html
html
  head
    meta(name='viewport' content='width=device-width, initial-scale=1')
    link(rel='stylesheet' href='css/bootstrap.min.css' type='text/css')
    link(rel='stylesheet' href='css/main.css' type='text/css')
    title Honey Dew
  
  body
    h1 Honey Dew
    
    
    //- enter email password
    form.form-inline(id='loginForm')
      .form-group
        input.form-control(type='email' id='emailLogin' placeholder='enter email')
      .form-group
        input.form-control(type='password' id='passwordLogin' placeholder='password')
      //- verify password when signing up
      .form-group
        input.form-control(type='password' id='verifyPassword' placeholder='verify password') 
      button.btn.btn-info.btn-lg(id='auth') Sign Me In!
      button.btn.btn-info.btn-lg(id='firstTime') Sign Me Up!
    
    //- buttons to login and sign up
    form.form-inline(id='authActionForm')
      button.btn.btn-primary(id='login') Login
      button.btn.btn-primary(id='signup') Sign Up
      
    form.form-inline      
      button.btn.btn-danger(id='logout') Logout
      
    //- image 
    img(src='../honeydo.jpg' id='image')
    
    //- creating a task 
    form.form-horizontal.col-sm-offset-3(id='createTask')
      .col-sm-6
        input.form-control(type='text' id='newToDo' placeholder='add task... ')
      button.btn.btn-success(id='addNewToDo') Add to List
      
    h2 Tasks
    .tasks
        
    script(type='text/javascript' src='vendor/jquery.js')
    script(type='text/javascript' src='vendor/lodash.min.js')
    script(type='text/javascript' src='vendor/firebase.js')  
    script(type='text/javascript' src='js/main.js')
